 body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background: linear-gradient(45deg, #fdfdfd, #fff0f0);
      height: 100vh;
    }

    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
      text-align: center;
    }

    .heading {
      color: #8c8d8d;
      font-size: 2.5rem;
      margin-bottom: 10px;
    }

    .subheading {
      font-size: 1rem;
      color: #555;
      margin-bottom: 20px;
    }

    .profile {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    .left-section {
      background-color: #c5c6c6;
      color: #fff;
      padding: 25px;
      border-radius: 10px;
      text-align: center;
      flex: 1;
      margin: 10px;
     
      
    }

    .left-section img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
      margin-bottom: 15px;
    }

    .left-section h2 {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }

    .left-section p {
      font-size: 1rem;
      margin-bottom: 15px;
    }

    .left-section button {
      background-color: #fff;
      color: #777777;
      border: none;
      padding: 10px 20px;
      border-radius: 5px;
      font-size: 1rem;
      cursor: pointer;
    }

    .right-section {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
      gap: 20px;
      flex: 2;
      margin: 10px;
      
    }

    .card {
      background-color: #fff;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
    }

    .card img {
      width: 60px;
      margin-bottom: 10px;
    }

    .card h3 {
      font-size: 1.2rem;
      margin-bottom: 10px;
      color: #777777;
    }

    .card p {
      font-size: 0.9rem;
      color: #555;
    }

    .card a {
      text-decoration: none;
      color: #7a7a7a;
      font-weight: bold;
      display: inline-block;
      margin-top: 10px;
      background-color: #dedede;
      padding: 10px 70px;
    }
  