<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">


  <dependency>
    <groupId>mysql</groupId>
    <artifactId>mysql-connector-java</artifactId>
    <version>8.0.26</version>
</dependency>



    <servlet>
        <servlet-name>registerservlets</servlet-name>
        <servlet-class>registerservlets</servlet-class>
    </servlet>
    

    <servlet-mapping>
        <servlet-name>registerservlets</servlet-name>
        <url-pattern>/registerservlets</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>CartServlet</servlet-name>
        <servlet-class>com.cart.CartServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>CartServlet</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>

    
    <servlet>
        <servlet-name>additm</servlet-name>
        <servlet-class>additm</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>additm</servlet-name>
        <url-pattern>/additm</url-pattern>
    </servlet-mapping>


  <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>ProfileServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>AddToCartServlets</servlet-name>
    <servlet-class>AddToCartServlets</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>AddToCartServlets</servlet-name>
    <url-pattern>/addToCart</url-pattern>
</servlet-mapping>


  <servlet>
        <servlet-name>LoginServletses</servlet-name>
        <servlet-class>LoginServletses</servlet-class>
    </servlet>

    
    <servlet-mapping>
        <servlet-name>LoginServletses</servlet-name>
        <url-pattern>/LoginServletses</url-pattern>
    </servlet-mapping>

      <servlet>
        <servlet-name>ImageUploadServletes</servlet-name>
        <servlet-class>ImageUploadServletes</servlet-class>
    </servlet>

    
    <servlet-mapping>
        <servlet-name>ImageUploadServletes</servlet-name>
        <url-pattern>/uploadImage</url-pattern>
    </servlet-mapping>
<servlet>
    <servlet-name>FetchItemIdServlet</servlet-name>
    <servlet-class>FetchItemIdServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>FetchItemIdServlet</servlet-name>
    <url-pattern>/fetchItemId</url-pattern>
</servlet-mapping>
</web-app>
 