<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
  
    <servlet>
        <servlet-name>registerservlets</servlet-name>
        <servlet-class>registerservlets</servlet-class>
    </servlet>
    

    <servlet-mapping>
        <servlet-name>registerservlets</servlet-name>
        <url-pattern>/registerservlets</url-pattern>
    </servlet-mapping>



     <servlet>
        <servlet-name>ViewCartServlet</servlet-name>
        <servlet-class>ViewCartServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ViewCartServlet</servlet-name>
        <url-pattern>/ViewCartServlet</url-pattern>
    </servlet-mapping>


     <servlet>
        <servlet-name>UserProfileServlet</servlet-name>
        <servlet-class>UserProfileServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserProfileServlet</servlet-name>
        <url-pattern>/UserProfileServlet</url-pattern>
    </servlet-mapping>

    
    
    <servlet>
        <servlet-name>UploadProfilePictureServlet</servlet-name>
        <servlet-class>UploadProfilePictureServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UploadProfilePictureServlet</servlet-name>
        <url-pattern>/UploadProfilePictureServlet</url-pattern>
    </servlet-mapping>

    
    <servlet>
        <servlet-name>AddItemServlet</servlet-name>
        <servlet-class>AddItemServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddItemServlet</servlet-name>
        <url-pattern>/AddItemServlet</url-pattern>
    </servlet-mapping>
    
   <servlet>
    <servlet-name>AddToCartServlet</servlet-name>
    <servlet-class>AddToCartServlet</servlet-class>
</servlet>

<servlet-mapping>
    <servlet-name>AddToCartServlet</servlet-name>
    <url-pattern>/addToCart</url-pattern>
</servlet-mapping>

</web-app>
